@mixin container {
  display: flex;
  max-width: 128rem;
  width: 100%;
}

@mixin flexRow {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}